<p>
  registro-reservas works!
</p>

<div>
  <label>Cedula:
    <input [(ngModel)]="reserva.Cedula" placeholder="Digite la cedula" type="number"/>
  </label>
</div>


<div>
    <label>Nombre:
      <input [(ngModel)]="reserva.Nombre" placeholder="Digite el nombre" type="text"/>
    </label>
  </div>

  <div>
      <label>TipoSilla: Ejecutivo
        <input type="checkbox" [(ngModel)]="reserva.TipoSilla" />
      </label>
    </div>
    <div>
      <label> Normal
        <input type="checkbox" [(ngModel)]="reserva.TipoSilla" />
      </label>
    </div>

    <div>
        <label> NumeroSilla:
          <input [(ngModel)]="reserva.NumeroSilla" placeholder="Digite el numero" type="number"/>
        </label>
      </div>

    <div>
    <button (click)="add()" class="btn btn.primary"> Agregar</button>
  </div>
